.star-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 353px;
    min-height: 525px;
    background-color: #fff;
}

.star-card__pic {
    display: block;
    margin-bottom: 20px;
    border-radius: 8px;
}

.star-card__title {
    margin: 0 0 12px;
    font-size: 28px;
    font-weight: bold;
}

.star-card__description {
    margin: 0;
}