.title {
    line-height: 115%;
    font-weight: bold;
}

.title--h1 {
    font-size: 44px;
}

.title--h2 {
    font-size: 36px;
}

.title--h3 {
    font-size: 32px;
}

.title--h4 {
    font-size: 24px;
}