@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body,
html {
	margin: 0;
}

body {
	position: relative;
	min-height: 100%;
	font-family: 'Inter', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	color: #333333;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);

	clip: rect(0 0 0 0);
	overflow: hidden;
}
